@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Ο αστερισκος σημαινει οτι αυτο το στυλ ακολουθουν
    Ολα τα στοιχεια του κωδικα*/
*{
  margin: 0;
  padding: 0;
  /* λεει στο προγραμμα περιηγησης να υπολογισει οποιοδηποτε
  περιγραμμα το width kai to height, και να τα χωρεσει ολα
  σε αυτα που θα ορισω*/ 
  box-sizing: border-box;


}

body{
  width: 100%;
  height: auto;
}


html{
  scroll-behavior: smooth;


}


.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(91, 86, 86);
  /* Με το position sticky kai top0, η θεση του ναβμπαρ παραμενει ως εχει, δηλαδη στην κορυφη, ανετξαρτητα 
  απο το αν θα κανω σκρολ στην οθονη*/
  position: sticky;
  top: 0;
  height: 63px;
  

}

.logo{
  height: 65px;
  width: 70px;
}

/*Δημιουργια ενος block μεσα στο navbar που θα περιεχει ολες τις επιλογες
Ειναι flex για να πανε οι επιλογες οπως θελω,και margin ειναι το μεγεθος του block*/
.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px 0px;
  margin-right: 10px;
}

/*Αυτο αφορα για καθε επιλογη του μενου*/
.navbar ul li{
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}

/*Αφορα της λεξης που εχω ως επιλογες.Οριζει
  το χρωμα των λεξεων, το κενο που θα εχουν
  και το transition
  Transition ειναι για το πως θα εμφανιζεται το χρωμα
  καθε φορα που εχω τον κερσορα πανω σε μια επιλογη.*/
.navbar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px;
  transition: all .5s ease;

}

 /*Επιλογη για το χρωμα καθε φορα που βαζω τον κερσορα
 σε καθε επιλογη του μενου*/
.navbar ul li a:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 10 white;

}

/*To # χρησημοποιειται για κατι που θα εμφανιστει μονο μια φορα
οπως πχ τωρα το background. Κλαση χρησημοποιειται οταν
εχω κατι που θα εμφανιζεται συνεχεια. Πχ ενα μηνυμα λαθους.
Για να εχω το # πρεπει στο html να το εχω ορισει με ενα id
οπως πχ id=home. Εχω φτιαξει ενα section το οποιο χρησημοποιει το id
=home για να ορισω το background μου.

/* Home Section */
#home{
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 200px;
 
}

/*to Before σημαινει οτι αυτα που περιλμβανει, θα το τρεξει
πρωτα πριν μπει στο home*/

/*z-index οριζει το πως θα φαινονται τα πραγματα στην οθονη.
Αυτα με μεγαλυτερο z, καλυπτουν τα υπολοιπα.Επομενως εχω ορισει
z-index: -1 για την εικονα, προκειμενου να ειναι πισω απο οτι αλλο
υπαρχει στην οθονη, και να ειναι background. Να μην καλυπτει δηλαδη τιποτα*/

#home::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url('images/IMG_E0053.JPG') no-repeat center center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: .8;
  
}

/*position absolute λεω οτι το main το οποιο ειναι παιδι του home,
θα τοποθετηθει εντος του home βαση τον top right bottom left που εχω ορισει*/
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -35%;
  margin-right: -20%;

}


/*Για το περιοχομενο του main*/
.headings{
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
   text-align: center;
   /*margin: 40px -130px;*/
   

}

.pos{
  top: 30%;
  right: 10%;
  position: hide;
}



.btn{
  padding: 10px 35px ;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transition: .6s ease;
}

.btn:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  box-shadow: 0 0 5px black;
  font-weight: bold;
}

/*About Section*/
#about{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 200px;
  margin-top: 0px;
  height: auto;
  width: 100%;

}

#about-details{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

#about-text{
  /*margin-left: 30px;*/
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#about-image{
  width: 400px;
  height: 400px;
  
}

#pic{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#pic img{
  width: 575px;
  height: 400px;
}

#intro{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
  
  
}

#intro h2{
  font-size: 2rem;
  margin-bottom: 20px;
  
}

.info-design{
  font-weight: bold;
}

/*Education*/


.ed-det{
  font-style: Arial;
  font-size: 20px;
  text-align: top;
}

#education{
  
  display: flex;
  flex-direction: column;
  height: 900px;
  /*justify-content: center;*/
  /*align-items: center;*/
  color: black;
  margin-bottom: 100px;
  /*text-align: center;*/
  font-size: 50px;
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}

#education::before{
  content: "";
  position: absolute;
  background: url('images/educ.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  margin-top: 180px;
}

#intro-edu{
  /*margin-top: 40px;*/
  font-size: 25px;
  color:black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  
}

#edu-details{
  height: 100%;
}

/*CV section*/
#CV, #Thesis{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

}

#cv-download{
  text-align: center;
  align-items: center;
}

#cv-button-design{
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 150px;
  
}
/*Contact Section*/
#contact{

  height: 400px;
  width: 100%;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  
}

.cntme{
  display: block;
  background-color: white;
  color: black;
  text-align: center;
  font-family: century;
   font-size: 3rem;
   height: 150px;
}

.methods{
  display: flex;
  justify-content: center;
}

#phone{
  /*margin-right: 100px;*/
  text-align: center;
  width: 200px;
}

#address{
  /*margin-right: 100px;*/
  text-align: center;
  width: 200px;
}

#email{
  text-align: center;
  width: 250px;
  /*margin-right: 100px;*/
  
}

#linkdien{
  text-align: center;
  width: 450px;
}

.contact-icons{
  height: 50px;
}

.form-row {
  margin-bottom: 10px;
}

.form-input {
  display: block;
}

.form-error {
  color: red;
}

form {
  width: 400px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.formcarry-container * {
  box-sizing: border-box;
	font-family: "Inter", sans-serif;

  /* colors */
  --color-blue: #2552d0;
  --color-light-blue: #3266e3;
  --color-gray: #e5e7eb;
  --color-dark-gray: #9da3ae;
  --color-pink: #edadd2;
}

.formcarry-container {
  /* container */
  --c-width: 50%;
  --c-max-width: 500px;

  width: var(--c-width);
  max-width: var(--c-max-width);
  display: block;
  margin: 10vh auto 0 auto;
}

.formcarry-form label {
  display: block;
  padding: 12px 0 2px 0;
  letter-spacing: -0.2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.formcarry-form input,
.formcarry-form textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--color-gray);
  border: none;
  border: 4px solid var(--color-gray);
  outline: none;
  border-radius: 8px;
  color: var(--color-dark-gray);
}

.formcarry-form input:focus,
.formcarry-form textarea:focus {
  background-color: #fff;
  color: var(--color-dark-gray);
}

.formcarry-form input:focus:required:invalid {
  border-color: var(--color-pink);
  background-color: #fff;
}

.formcarry-form button {
  display: block;
  margin-top: 12px;
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
	border-color: transparent;
  background-color: var(--color-blue);
  color: #fff;
  font-weight: 700;
  font-size: 18px;

  transition: 300ms all;
}

.formcarry-form button:hover {
  background-color: var(--color-light-blue);
}

.formcarry-alert {
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  display: none;
}

.formcarry-alert.visible {
  display: block;
}

.formcarry-alert.success {
  background: #69cf9d;
}

.formcarry-alert.error {
  background: #de524c;
}



